<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>Python</li>
    <li>Julia </li>
    <li>R</li>
    <li>Scala</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
    <li>Pandas</li>
    <li>Numpy </li>
    <li>Seaborn</li>
    <li>Matplotlib</li>
</ol>


<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>Jupyter Notebook</td>
</tr>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>VS Code with Python</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

<h2><b>Objectives:</b></h2>
<ul>
    <li>List popular languages for Data Science.</li>
    <li>List popular Libraries for Data Science</li>
    <li>Evaluating arithmetic expressions in PythonÂ¶</li>
    
</ul>

<h2>Author</h2>
<p>Your Name</p>